*{
    margin:0px;
    padding:0px;
    box-sizing:border-box;
}

body{
    font-family: 'segoe UI', 'sans-serif';
    background:linear-gradient(to right,#667eea,#764ba2);
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;

}

.login-container{
       border-radius:12px;
       background:#e4f5f6;
       padding:40px 30px;
       box-shadow:0 10px 25px rgba(16, 16, 16, 0.1);
       width:350px;
       text-align:center;
    }

.login-container h3{
    margin-bottom:25px;
    color:#1c09ed;
}

.login-container input {
  width: 100%;
  padding: 12px 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 16px;
}

.login-container button{
    width:100px;
    padding:10px;
    background-color:#9966ea;
    color:rgb(250, 244, 244);
    border:none;
    border-radius:10px;
    font-size: 16px;
    cursor:pointer;
    transition:background 0.3;

}

.login-container button:hover{
    background-color:#0942ec;
}

.signup-link{
    margin-top:15px;
    font-size:14px;

}
.signup-link a{
    color:#1a02f5;
    text-decoration:none;
}
