*{
    margin:0px;
    padding:0px;
    box-sizing:border-box;
    font-family:Segoe UI,sans-serif;
}

body{
    background-color: linear-gradient(135deg,#3b82f6,#9333ea);
    min-height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
}

.container{
    display:flex;
    justify-content:center;
    /* align-items:center;
    height:100vh; */
    padding:20px;
}

.card{
    background-color:#fff;
    border-radius:15px;
    padding:20px;
    width:100%;
    max-width:350px;
    text-align:center;
    box-shadow:0 4px 15px rgba(0,0,0,0.2);
    animation:fadeIn 1s ease-in;
}

@keyframes fadeIn{
    from{
        opacity:0;transform:translateY(20px);}
    to{
        opacity:1;transform:translateY(0);}
}

.profile-img{
    width:120px;
    height:120px;
    border-radius:50px;
    margin-bottom:20px;
    

}

.bio{
    margin:10px 0;
    color:#444;
}

.skills{
    list-style-type:none;
    margin:15px 0;
    padding:0;

}

.skills li{
    display:inline-bliock;
    background-color:#e0f2fe;
    color:#0369a1;
    padding:5px 12px;
    border-radius:20px;
    margin:5px;
    font-weight:500;

}

.social-icons{
    margin-top: 10px;
  display: flex;
  justify-content: center;
  gap: 15px;
}

.social-icons a{

      color: #555;
  font-size: 24px;
  transition: color 0.3s;
    
    border-radius:cover;
    /* font-size:20px;
    margin:0 10px;
    transition:color 0.3s ease; */
    /* margin: 0 10px;
  text-decoration: none;
  color: #555;
  font-size: 20px;
  transition: color 0.3s; */
}

.social-icons a:hover{
    color:#3b82f6;
    
}

.btn{
    display:inline-block;
    background-color:#3b82f6;
    color:white;
    padding:10px 15px;
    border-radius:8px;
    text-decoration:none;
    margin-bottom:20px;
    transition: background 0.3s;
}

.btn:hover{
    background-color:#2563eb;
    transform:scale(1.0);
}

